.movies-title-list__copy-button {
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url("../img/copy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}